@use './helpers/media' as *;

body {
  background: url('../img/main-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;
  padding-inline: 100px;
  margin: 0;

  color: var(--color-light);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mobile {
    padding-inline: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1720px;
}
