body {
  background: url('../../img/main-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;
  padding-inline: 100px;
  margin: 0;

  color: var(--color-light);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1720px;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}
